@{
    Layout = "_Layout";
}

@model Restaurant.Models.Diner

<h4>Add a new diner</h4>
@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Name)
    <br />
    @Html.TextBoxFor(model => model.Name, new { placeholder = "Name" })
    <br />
    @Html.LabelFor(model => model.Description)
    <br />
    @Html.TextBoxFor(model => model.Description, new { placeholder = "Description" })
    <br />
    @Html.LabelFor(model => model.Specialty)
    <br />
    @Html.TextBoxFor(model => model.Specialty, new { placeholder = "Specialty" })
    <br />
    @Html.LabelFor(model => model.Cuisine)
    @Html.DropDownList("CuisineId")
    @*@Html.LabelFor(model => model.CuisineId,  new {placeholder = "Cuisine"})
    <br />*@
    @*@Html.TextBoxFor(model => model.CuisineId, new { @readonly = "readonly", placeholder = ViewBag.Cuisine.Name, @type = "number", @Value = ViewBag.Cuisine.CuisineId })
    <br />*@

    @*@Html.LabelFor(model => model.CuisineId)
    <br />
    @Html.TextBoxFor(model => model.CuisineId, new { placeholder = "CuisineId" })
    <br />*@
    @*<input type="number" asp-for="CuisineId" value=ViewBag.Cuisine.CuisineId>*@
    @* @Html.HiddenFor(model => model.CuisineId, new { @Value = ViewBag.Cuisine.CuisineId })*@
    <input type="submit" value="Add diner" /> 
}
<button>@Html.ActionLink("Show Diners", "Index")</button>