@{
    Layout = "_Layout";
}

@model Restaurant.Models.Diner

<h4>Add a new diner</h4>
@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Name)
    <br />
    @Html.TextBoxFor(model => model.Name, new { placeholder = "Name" })
    <br />
    @Html.LabelFor(model => model.Description)
    <br />
    @Html.TextBoxFor(model => model.Description, new { placeholder = "Description" })
    <br />
    @Html.LabelFor(model => model.Specialty)
    <br />
    @Html.TextBoxFor(model => model.Specialty, new { placeholder = "Specialty" })
    <br />
    @Html.LabelFor(model => model.CuisineId, "Cuisine")
    <br />
    @Html.TextBoxFor(model => model.CuisineId, new { @readonly = "readonly", placeholder = ViewBag.Cuisine.CuisineId })
    <br />
    <input type="submit" value="Add diner" />
}

<button>@Html.ActionLink("Show Diners", "Index")</button>